<section id="about">
    <div class="section-inner">
        <h2>About me</h2>
        <p>Hello I am Chariebell, I live in Pinamopoan Capoocan, Leyte, I am the youngest child of the three siblings.<br> I have two pets, and my favorite color is Blue, and my hobby is dancing, and Iam middle student.<br> Taking Bachelor of Science Information Technology (BSIT) at Eastern Visyas State University Carigara Campus, Carigara Leyte.
        </p>
    </div>
    <div>
        <h2>Education</h2>
        <h5>2012-2013</h5>
        <ul><h4>Pinamopoan Cenral School</h4></ul>
        <h5>2015-2016</h5>
        <h4>Pinamopoan National Highschool</h4>
        <h3>2018-2019</h3>
        <h5>Asuncion S. Melgar National Highschool</h5>
        <h2>Goals in Life</h2>
        <h5>Finish my studies</h5>
        <h5>Make my parents proud</h5>
        <h5>To have a stable job</h5>
        <h5>To build my own house and business</h5>
        <h5>To travel</h5>
        <h5>And lastly, to get married for someone I love</h5>
        <h2>Mission</h2>
        <h5>Life is to live each moment to the fullest by having a positive attitudes, a smile a genuine enjoyment for life,<br> while giving everything I have to the love the people and environment around me and make it a better place. </h5>
        <h2>Vision</h2>
        <h5>My life works for all the people needing my help, to support them in times when obstacles come in their life.<br> Committed to serve, accept, love, and support. Finishing my studies is one of my opportunity to commit my vision. </h5>
    </div>
    
</section>